.tile {
  background-color: grey;
  width: 2em;
  height: 2em;
}

.exposed {
  background-color: green;
}

.exposed.mine {
  background-color: red;
}

.marked {
  background-color: orange;
}

.outcome {
  color: orange;
  font-size: 3em;
}
